// ==============================
// Custom style
// 自定义样式
// ==============================

@import 'navbar.scss';
@import 'search.scss';

.twitter-tweet {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.single {
  .content {
    figure {
      margin: 0rem;
    }
  }
}

/**
*   限制页面宽度
*/

.page {
  width: 60%;
  max-width: 800px;
}

.single #comments {
  padding: 4rem 0 2rem;
}

/**
* Page 标题靠左
*/

.single .single-title {
  text-align: left;
}

/**
* 分类等页面标题靠左
*/

.archive .single-title {
  text-align: left;
  margin-top: 1.5rem;
}