// ==============================
// Custom style
// 自定义样式
// ==============================

.twitter-tweet {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.single {
    .content {
        figure {
            margin: 0rem;
        }
    }
}

//.page {
//    width: 30%;
//    //min-width:50rem;
//}

//.lazyautosizes{
//    padding-top: 15px;
//}