/**
*   Navbar 添加毛玻璃效果
*   参照 Apple Store 配置
*/

#header-desktop {
  /** 苹果官网的 backdrop-filter 配置 */
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  [theme='light'] & {
    background-color: hsla(0, 0%, 100%, 0.65);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  }

  [theme='dark'] & {
    background: rgba(33, 33, 35, 0.75);
  }

  [theme='black'] & {
    background: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid hsla(0, 0%, 60%, 0.3);
  }

  /** 修复 Safari 因 backdrop-filter 而产生的闪烁 */
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}

/**
  *   移动版 Navbar 更改配色但不添加毛玻璃
  *   参照 Apple Store 配置
  */

#header-mobile {
  [theme='light'] & {
    background-color: hsla(0, 0%, 100%, 1);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  }

  [theme='dark'] & {
    background: rgba(33, 33, 35, 1);
  }

  [theme='black'] & {
    background: rgba(0, 0, 0, 1);
    border-bottom: 1px solid hsla(0, 0%, 60%, 0.3);
  }
}

/**
  *   移动版 menu 匹配颜色设置
  */

#header-mobile .header-container .menu {
  [theme='light'] & {
    background-color: hsla(0, 0%, 100%, 1);
  }
  [theme='dark'] & {
    background: rgba(33, 33, 35, 1);
  }
}

/**
* 修改 SVG 图标定位
*/

.navbar-svg {
  padding-left: unset;
  margin-left: -0.4rem;
}

/**
*   配合 SVG 标题
*   去除 Navbar 行高
*/

#header-desktop {
  line-height: 0rem;
}

#header-mobile {
  line-height: 0rem;
}
