// ==============================
// Page 标题靠左
// ==============================

.single .single-title {
  text-align: left;
}

// ==============================
// 分类等页面标题靠左
// ==============================

.archive .single-title {
  text-align: left;
  margin-top: 1.5rem;
}

// ==============================
// 去除无用动画
// ==============================

h1.animate__animated {
  -webkit-animation-duration: 0s !important;
  animation-duration: 0s !important;
}

h2.animate__animated {
  -webkit-animation-duration: 0s !important;
  animation-duration: 0s !important;
}

// ==============================
// 修改文章标题样式 "|" to "#"
// ==============================

.single .content > h2 > .header-mark::before {
  content: '#';
}

.single .content > h3 > .header-mark::before {
  content: '##';
}

.single .content > h4 > .header-mark::before,
.single .content > h5 > .header-mark::before,
.single .content > h6 > .header-mark::before {
  content: '###';
  margin-right: 0.25rem;
  color: #2d96bd;
}
